
<div id="about" >
  <div class="about-wrapper">

    <div class="col2">
      <div class="about-txt-wrapper">
        Hi,<br>
        my name is Jagoda lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>

    <div class="col2">
      <div class="about-img-wrapper" id="aboutImgAnimate">
        <div class="img-wrapper">
          <img src="assets/img/common/about1.png" alt="">
        </div>
        <div class="img-wrapper"  timeInterval="1000" moveMax="50" rndTimeMax="8000"  random-move  >
          <img src="assets/img/common/about2.png" alt=""  >
        </div>
        <div class="img-wrapper">
          <img src="assets/img/common/about3.png" alt="">
        </div>
        <div class="img-wrapper">
          <img src="assets/img/common/about4.png" alt="">
        </div>
      </div>
    </div>

  </div>
</div>
