#about{
  position: relative;
  height: 100%;
  .about-wrapper{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    margin: 0 auto;
    right: 0px;
    left: 0px;
    @include respond-width($w-xs){
      top: calc(50% - 40px);
    }
    .col2{
      @include respond-width($w-s){
        width: 100%;
        display: block;
      }
    }
  }
  .about-txt-wrapper{
    font-size: 30px;
    padding: 50px;

    @include respond-width($w-xl){
      font-size: 25px;
    }
    @include respond-width($w-l){
      font-size: 20px;
    }

    @include respond-width($w-xs){
      font-size: 13px;
      padding: 15px;
    }

  }
  .about-img-wrapper{
    padding: 50px;
    @include respond-width($w-s){
      text-align: center;
    }
    @include respond-width($w-xs){
      padding: 15px;
    }
    .img-wrapper{
      margin: -5px 0px;
      width: 100%;
      position: relative;
      &:nth-child(1){
        left: 50px;
        @include respond-width($w-xs){
          left: 25px;
        }
      }
      &:nth-child(2){
        left: 0px;
      }
      &:nth-child(3){
        left: -20px;
        @include respond-width($w-xs){
          left: -10px;
        }
      }
      &:nth-child(4){
        left: 20px;
        @include respond-width($w-xs){
          left: 10px;
        }
      }
    }
    img{
      width: 100%;
      max-width: 400px;
      position: relative;
      @include respond-width($w-xl){
        max-width: 350px;
      }
      @include respond-width($w-l){
        max-width: 250px;
      }
      @include respond-width($w-s){
        max-width: 60%;
      }
    }
  }
}
