$form-w: 300px;

#contact{
  position: relative;
  height: 100%;
  .contact-wrapper{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    margin: 0 auto;
    right: 0px;
    left: 0px;
    @include respond-width($w-xs){
      top: calc( 50% - 40px );
    }
  }

  .form-wrapper{
    position: relative;
    height: 100%;

    @include respond-width($w-s){
      text-align: center;
      height: auto;
    }
    &.col2{
      @include respond-width($w-s){
        width: 100%;
      }
    }

    &:after{
      top: 50%;
      transform: translate(0, -50%);
      content: '';
      height: 0%;
      width: 3px;
      position: absolute;
      right: 0px;
      transition: ease all 0.2s;
      background: $blue;
    }

    &.form-hide{
      overflow: hidden;

      .form-group{
        transition: ease all 0.4s;
        position: relative;
        right: inherit ;
        left: 450px ;
        &:nth-child(1){
          transition-delay: .1s;
        }
        &:nth-child(2){
          transition-delay: 0.2s;
        }
        &:nth-child(3){
          transition-delay: .1s;
        }
        &:nth-child(4){
          transition-delay: .4s;
        }
      }
      &:after{
        transition: ease all 0.3s;
        height: 100%;
        animation: formloader infinite 1s;
        animation-delay: 0.3s;
      }
    }
    &.thx-show{
      .thx-message-wrapper{
        position: absolute;
        left: 0px;
        opacity: 1;
        z-index: 1;
      }
      &:after{
        animation: formloaderHide forwards 0.5s;
        transition: ease all 0.3s;
        transition-delay: 1.5s;
        animation-delay: 0s;
        height: 0%;
        // animation: formloaderHide forwards 1s;
      }
    }
    .form-error{
      position: absolute;
      top: -25px;
      text-align: center;
      color: red;
      width: 100%;
      font-size: 15px;
      @include respond-width($w-s){
        top: -10px;
      }
      @include respond-width($w-xs){
        top: -17px;
        font-size: 13px;
      }
    }
  }

  .contact-form{
    max-width: $form-w;
    position: relative;
    margin: 0 auto;
    @include respond-width($w-m){
      max-width: $form-w - 30px;
    }
    @include respond-width($w-xs){
      max-width: 75%;
    }
  }

  .thx-message-wrapper{
    position: absolute;
    top: 35%;
    transform: translate( 0 , -50% );
    left: 500px;
    transition: ease all 0.4s;
    text-align: center;
    width: 100%;
    z-index: -1;
    opacity: 0;
    .thx-head{
      font-size: 35px;
      display: block;
      font-weight: 400;
    }
    .thx-small{
    }
  }

  .form-group{
    transition: ease all 0.4;
    position: relative;
    margin: 25px auto;
    display: block;
    left: 0px;
    @include respond-width($w-m){
      margin: 30px auto;
    }
    @include respond-width($w-xs){
      margin: 23px auto;
    }
    &.error{
      input,textarea{
        // background: rgba(255,0,0,0.1);
        border: 1.5px solid $blue;
        transition: ease all 0.3s;
        @include respond-width($w-xs){
          // border: 1px solid red;
        }
      }
    }
    &.submit-btn{
      @include respond-width($w-l){
        margin: 0px auto;
      }
    }
    &:nth-child(1){
      left: 50px;
      @include respond-width($w-m){
        left: 10px;
      }
      @include respond-width($w-s){
        left: -15px;
      }
      @include respond-width($w-xs){
        left: 0px;
      }
    }
    &:nth-child(2){
      left: 100px;
      @include respond-width($w-m){
        left: 35px;
      }
      @include respond-width($w-s){
        left: 35px;
      }
      @include respond-width($w-xs){
        left: 0px;
      }
    }
    &:nth-child(3){
      @include respond-width($w-m){
        left: -25px;
      }
      @include respond-width($w-s){
        left: -25px;
      }
      @include respond-width($w-xs){
        left: 0px;
      }
    }

    .error-txt{

      position: absolute;
      bottom: -20px;
      right: 0px;
      font-size: 15px;
      color: red;
      opacity: 0;
      transition: ease all 0.3s;
      @include respond-width($w-xs){
        font-size: 13px;
      }
      &.active{
        opacity: 1;
        right: 20px;
      }
    }

    label {
      top: 10px;
      opacity: 1;
      transition: ease all 0.3s;
      position: absolute;
      top: 10px;
      left: 15px;
      font-weight: 400;
      font-size: 18px;
      @include respond-width($w-xs){
        font-weight: 400;
        font-size: 14px;
      };
    }

    textarea,
    input{
      background: $grey-l;
      font-size: 18px;
      padding-left: 15px;
      line-height: 50px;
      height: 50px;
      width: 100%;
      max-width: 450px;
      border: 1.5px solid black;
      transition: ease all 0.3s;
      transition: ease opacity 0.6s;
      @include respond-width($w-l){
        height: 40px;
        line-height: 40px;
      }
      @include respond-width($w-xs){
        padding-left: 5px;
        padding: 0px 5px;
        border: 1px solid black;
      }
      &:not([value=""]) + label{
        opacity: 0;
        z-index: -2;
      }
      &:focus + label {
        opacity: 1;
        top: -40px;
        transition: ease all 0.3s;
        font-size: 25px;
        left: 5px;
        @include respond-width($w-m){
          top: -25px;
          font-size: 20px;
        }
        @include respond-width($w-xs){
          top: -19px;
          font-size: 14px;
        }
      }
      &#email:focus + label {
        left: -75px;
        top: 10px;
        @include respond-width($w-m){
          left: -60px;
        }
        @include respond-width($w-xs){
          top: -19px;
          left: 5px;
        }
      }
      &#message:focus + label {
        left: -15px;
        @include respond-width($w-m){
          left: 5px;
        }
      }
    }

    textarea{
      padding-top: 5px;
      height: 200px;
      line-height: inherit;
      @include respond-width($w-l){
        height: 100px;
      }
    }
    &.submit-btn{
      width: auto;
      float: right;
      bottom: 20px;
      left: 75px;
      position: relative;
      font-size: 23px;
      font-weight: 400;
      @include respond-width($w-l){
        font-size: 18px;
        left: 50px;
      }
      @include respond-width($w-m){
        font-size: 18px;
        left: 25px;
      }
      @include respond-width($w-xs){
        font-size: 15px;
        left: 0px;
      }
      button{
        border: 0px;
        background: none;
        position: relative;
        display: block;
        padding: 7px;
        &:after{
          z-index: 0;
          content: '';
          position: absolute;
          width: 100%;
          height: 20px;
          top: 20px;
          background: $blue;
          left: 20px;
          z-index: 0;
          transition: ease all 0.3s;
          @include respond-width($w-xs){
            height: 15px;
            top: 15px;
            left: 10px;
          }
        }
        &:hover{
          span{
            transition: ease all 0.3s;
            right: -10px;
          }
          &:after{
            transition: ease all 0.3s;
            width: 80%;
            left: 5px
          }
        }
      }
      span{
        transition: ease all 0.3s;
        position: relative;
        z-index: 1;
        right: 0px;
      }
    }
  }

  .info-wrapper{
    position: relative;
    margin: 0 auto;
    left: 100px;
    @include respond-width($w-m){
      left: 75px;
    }
    @include respond-width($w-s){
      display: none;
    }
    &.rwd-w-s-show{
      display: none;
      @include respond-width($w-s){
        text-align: center;
        display: block;
        left: 0px;
        margin-bottom: 20px;
      }
    }
    &.col2{
      @include respond-width($w-s){
        width: 100%;
      }
    }
  }
  .info-h{
    font-size: 35px;
    font-weight: 400;
    text-align: left;
    position: relative;
    display: inline-block;
    margin-bottom: 45px;
    @include respond-width($w-l){
      font-size: 25px;
    }
    @include respond-width($w-m){
      font-size: 23px;
    }
    @include respond-width($w-xs){
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .txt{
      position: relative;
      z-index: 2;
    }
    .blue-bg{
      content: '';
      position: absolute;
      width: 100%;
      height: 80%;
      top: 10px;
      background: $blue;
      left: 20px;
      z-index: 0;
    }
  }
  .info-link-wrapper{
    margin: 25px 0px;
    position: relative;
    left: 20px;
    @include respond-width($w-s){
      margin: 7px 0px;
    }
    a{
      display: inline-block;
      font-size: 25px;
      font-weight: 400;
      position: relative;
      cursor: pointer;
      color: $grey-d;
      text-decoration: none;
      @include respond-width($w-l){
        font-size: 20px;
      }
      @include respond-width($w-xs){
        font-size: 14px;
      }
      &:after{
        transition: ease all 0.35s;
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        top: 10px;
        background: $blue;
        left: inherit;
        right: 0px;
        z-index: 0;
      }
      &:hover{
        &:after{
          left: 0px;
          right: inherit;
          width: 100%;
          transition: ease all 0.3s;
        }
      }
    }
    span{
      position: relative;
      z-index: 1;
      right: 20px;
    }
  }


}

@keyframes formloader {
  0%{height: 100%}
  50%{height: 80%}
  100%{height: 100%}
}
@keyframes formloaderHide {
  0%{height: 100%}
  100%{height: 0%}
}
