#loaderMain,
.hello{
  position: relative;
  width: 775px;
  margin: 0 auto;
  // width: 100%;
  height: 100%;
  background: inherit;
  @include respond-width($w-s){
    width: auto;
  }
  &.move-in-fast{
    .top-35, .top-25, .top-15, .top-15p{
      transition: ease all 0s;
      opacity: 1;
      top: 0px;
    }
  }
  &.move-in{
    .top-35, .top-25, .top-15, .top-15p{
      transition: ease all 0.5s;
      position: relative;
      opacity: 1;
      top: 0px;
    }
  }
  .top-35, .top-25, .top-15, .top-15p{
    opacity: 0;
  }
  .top-35{
    top: -45px;
  }
  .top-25{
    top: -30px;
  }
  .top-15{
    top: -15px;
  }
  .top-15p{
    top: 25px;
  }

  .hello-txt-wrapper{
    position: absolute;
    top: 45%;
    transform: translate(0,-50%);
    right: 0px;
    left: 0px;
    margin: 0 auto;
    text-align: center;
    // width: 100%;
    display: inline-block;
    @include respond-width($w-xs){
      top: calc(45% - 40px);
    }
  }

  .hello-txt{
    font-size: 300px;
    font-weight: 900;
    display: inline-block;
    @include respond-width($w-l){
      font-size: 200px;
    }
    @include respond-width($w-s){
      font-size: 170px;
    }
    @include respond-width($w-xs){
      font-size: 75px;
    }
    &.top{
      position: absolute;
      top: 0.05%;
      left: calc(50%);
      transform: translate(-50%,0);
      clip-path: polygon(0 0,100% 0,100% 50%,0 50%);
    }
    &.bottom{
      display: block;
      clip-path: polygon(0 50%,100% 50%,100% 100%,0 100%);
    }
    span{
      position: relative;
    }

  }

  .about-txt-wrapper{
    margin: 0 auto;
    position:  absolute;
    height: 75px;
    left: 25px;
    bottom: -50px;
    text-align: left;
    display: inline-block;
    @include respond-width($w-l){
      left: 150px;
    }
    @include respond-width($w-s){
      left: 75px;
    }
    @include respond-width($w-xs){
      left: 35px;
      bottom: -75px;
    }

  }
  #HelloAboutTxt{
    text-align: left;
    display: inline-block;
    position: relative;
    font-size: 35px;
    max-width: 500px;
    @include respond-width($w-l){
      max-width: 400px;
      font-size: 25px;
    }
    @include respond-width($w-xs){
      font-size: 13px;
      max-width: 220px;
    }
    &:after{
      display: inline-block;
      content: '';
      position: relative;
      height: 30px;
      bottom: 5px;
      width: 2px;
      background: black;
      vertical-align: bottom;
      right: -5px;
      opacity: 0;
      @include respond-width($w-l){
        height: 23px;
        bottom: 3px;
      }
      @include respond-width($w-xs){
        bottom: 0px;
        height: 15px;
        width: 1px;
      }
    }
    &.active{
      &:after{
        opacity: 1;
      }
    }
    &.in-out-ani{
      &:after{
        animation: inout 0.75s infinite;
      }
    }
  }

}

@keyframes inout {
  0%{opacity: 0}
  50%{opacity: 1}
  100% {opacity: 0}
}
