#loaderMain{
  position: fixed;
  height: 100vh;
  width: 100%;
  transition: ease opacity 0.4s;
  text-align: center;
  z-index: 99;
  padding: 0px;
  margin: 0px;
  opacity: 1;
  &.hide{
    transition: ease opacity .5s;
    transition-delay: 1.6s;
    opacity: 0;
    // z-index: -1;
    .hello-txt{
      &.top{
        animation:  move-up 1s forwards ;
      }
      &.bottom{
        animation:  move-down 1s forwards ;
      }
    }
  }
  .hello-txt-wrapper{
    top: 46%;
    @include respond-width($w-xs){
      top: calc(46% - 40px);
    }
  }
  .up,
  .down{
    transition: ease all 0.3s;
    transform: translate(0,50);
  }
  .hello-txt{
    &.top{
      animation: move-up 1s infinite;
    }
    &.bottom{
      animation: move-down 1s infinite;
    }
  }
  .txt-hide{
    opacity: 0;
  }
}

@keyframes move-up {
  0% {transform: translate(-50%,0px) }
  25% {transform: translate(-52%,0px) }
  50% {transform: translate(-50%,0px) }

  75% {transform: translate(-48%,0px) }
  100% {transform: translate(-50%,0px) }
}
@keyframes move-down {
  0% {transform: translate(0%,0px) }
  25% {transform: translate(2%,0px) }
  50% {transform: translate(0%,0px) }
  75% {transform: translate(-2%,0px) }
  100% {transform: translate(0%,0px) }
}
