
#projects{
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 100%;
  @include respond-width($w-xs){
    height: calc(100% - 70px);
  };

  .projects-wrapper{
    position: absolute;
    margin: 0 auto;
    top: 50%;
    transform: translate(0,-50%);
    right: 0px;
    left: 0px;
    text-align: center;
  }

  .thumb-wrapper{
    position: relative;
    display: inline-block;
    vertical-align: top;

    transition: ease opacity 0.3s;
    transform: translate(0px,0);
    opacity: 1;

    &.ng-enter {
      opacity: 0;
      .project-thumb{
        transform: translate(-50px,0);
        transition: ease all 0.3s;
      }
    }
    &.ng-leave.ng-leave-active {
      opacity: 0;
      position: absolute;
      .project-thumb{
        opacity: 0;
        transition: ease all 0.3s;
        transform: translate(50px,0);
      }
    }

  }
  .project-thumb{
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: ease all 0.3s;

    &:before{
      position: absolute;
      content: '';
      background: $blue;
      width: 0%;
      height: 100%;
      top: -10px;
      left: inherit;
      right: -10px;
      transition: ease all 0.3s;
      z-index: 0;
      @include respond-width($w-l){
        top: -7px;
        right: -7px;
      }
    }
    &:hover{
      &:before{
        left: 10px;
        right: inherit;
        width: 100%;
        transition: ease all 0.3s;
        @include respond-width($w-l){
          left: 7px;
        }
        @include respond-width($w-xs){
          display: none;
        }
      }
      .project-txt-wrapper{
        transition: ease all 0.35s;
        // height: 100%;
        &:after{
          left: 0px;
          right: inherit;
          transition: ease all 0.35s;
          width: 100%;
        }
      }
      .txt{
        opacity: 1;
        top: 0px;
        transition: ease all 0.35s;
      }
    }
    .project-txt-wrapper{
      padding: 0;
      transition: ease all 0.3s;
      position: absolute;
      top: 0%;
      width: 100%;

      overflow: hidden;
      height: 100%;
      transition: ease all 0.3s;
      @include respond-width($w-m){
        // width: $thumb-w-rwd-xl;
        height: auto;
        top: inherit;
        bottom: 0px;
      }
      &:after{
        transition: ease all 0.35s;
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        top: 0px;
        background: $blue-trans;
        left: inherit;
        right: 0px;
        z-index: 0;
        @include respond-width($w-m){
          display: none;
          // width: 100%;
        }
      }
    }
    .txt{
      padding: 25px 15px 0;
      word-wrap: break-word;
      position: relative;
      max-width: 100%;
      color: white;
      z-index: 1;
      transition: ease all 0.35s;
      opacity: 0;
      top: 10%;
      @include respond-width($w-l){
        padding: 5px 5px 0;
      }
      @include respond-width($w-m){
        opacity: 1;
        top: 0px;
      }
    }
    .project-name{
      font-size: 22px;
      font-weight: 600;
      @include respond-width($w-l){
        padding: 10px 0px 0px;
        font-size: 16px;
      }
      @include respond-width($w-m){
        background: $blue-trans;
        padding: 5px 0px;
        font-size: 16px;
      }
      @include respond-width($w-xs){
        font-weight: 400;
        font-size: 15px;
      }
    }
    .project-desc{
      font-size: 14px;
      @include respond-width($w-l){
        font-size: 12px;
      }
      @include respond-width($w-m){
        display: none;
      }
    }
    .project-img{
      filter: grayscale(100%);
      transition: ease all 0.3s;
      opacity: 1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      &.loading{
        transition: ease all 0.3s;
        opacity: 0;
      }
      img{
        max-width: 100%;
      }
      .loader{
        display: block;
        background: url('../img/common/loader-1.gif') 50% 50%;
        background-size: contain;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        margin: 0 auto;
        transform: translate(0,-50%);
      }
    }
  }
  .next-proj-btn-wrapp{
    position: absolute;
    bottom: -15px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    @include respond-width($w-s){
      max-width: 90%;
      bottom: -35px;
    }
    @include respond-width($w-xs){
      max-width: 100%;
      bottom: 0px;
    }
    svg{
      // @include respond-width($w-l){
      //   width: 40px;
      // }
      @include respond-width($w-l){
        width: 35px;
      }
      @include respond-width($w-xs){
        width: 30px;
        // bottom: -35px;
      }
    }
  }

  .prev-projects-btn,
  .next-projects-btn{
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    transform: translate(0px,0px);
    transition: ease all  0.5s;
    left: 50px;
    right: inherit;
    @include respond-width($w-l){
      font-size: 20px;
    }
    @include respond-width($w-l){
      left: 25px;
      font-size: 23px;
    }
    @include respond-width($w-xs){
      font-size: 15px;
      left: 0px;
      right: 0px;
    }

    &.animate-if.ng-enter, &.animate-if.ng-leave {
      transition: ease all  0.5s;
    }
    &.animate-if.ng-enter,
    &.animate-if.ng-leave.ng-leave-active {
      opacity:0;
      transform: translate(-50px,0px);
      @include respond-width($w-s){
        transform: translate(-20px,0px);
      }
      @include respond-width($w-xs){
        transform: translate(-10px,0px);
      }
    }
    &.animate-if.ng-leave,
    &.animate-if.ng-enter.ng-enter-active {
      opacity:1;
    }

    .wrapper{
      svg{
        position: relative;
        transition: ease all 0.3s;
        &#arrowLeft{
          right: 0px;
        }
        &#arrowRight{
          left: 0px;
        }
      }
      &:hover{
        &:before{
          left: 0px;
          right: inherit;
          width: 100%;
          transition: ease all 0.3s;
        }
        svg{
          transition: ease all 0.3s;
          &#arrowLeft{
            right: 5px;
          }
          &#arrowRight{
            left: 5px;
          }
        }
      }
      &:before{
        transition: ease all 0.3s;
        content: '';
        position: absolute;
        width: 0%;
        height: 20px;
        bottom: 10px;
        background: $blue;
        left: inherit;
        right: 0px;
        z-index: 0;
        @include respond-width($w-xs){
          // top: 5px;
        }
      }
    }
  }
  .next-projects-btn{
    float: right;
    &.animate-if.ng-enter,
    &.animate-if.ng-leave.ng-leave-active {
      opacity:0;
      transform: translate(50px,0px);
      @include respond-width($w-s){
        transform: translate(20px,0px);
      }
      @include respond-width($w-xs){
        transform: translate(10px,0px);
      }
    }
  }
  .prev-projects-btn{
    .wrapper{
      &:before{
        right: inherit;
        left: 0px;
      }
      &:hover{
        &:before{
          right: 0px;
          left: inherit;
          width: 100%;
          transition: ease all 0.3s;
        }
      }
    }
  }


}// projects ID

@keyframes txtdisappear {
  to {
    height: 0%;
  }
}
@keyframes txtappear {
  to {
    height: 50%;
  }
}
@keyframes widthsteps {
  to {
    width: 100%;
  }
}

@keyframes arrow-L-move {
  0%{ transform: translate(0,0) rotate(90deg)}
  50%{ transform: translate(-10px,0) rotate(90deg)}
  100%{ transform: translate(0,0) rotate(90deg)}
}
@keyframes arrow-R-move {
  0%{ transform: translate(0,0) rotate(-90deg)}
  50%{ transform: translate(10px,0) rotate(-90deg)}
  100%{ transform: translate(0,0) rotate(-90deg)}
}

@keyframes appear {
  0%   { opacity:0; transform: translate( 0px, -50px) }
  100%   {opacity:1; transform: translate( 0px , 0) }
}

@keyframes disappear {
  0%   { opacity:1; transform:  translate( 0px,0) }
  100%   {opacity:0; transform:  translate( 0px , 50px ) }
}

@keyframes appearrandom {
  0%   { opacity:1; transform: translate( 0px, 0px) rotateY(90deg)}
  100%   {opacity:1; transform: translate( 0px , 0) rotateY(0deg) }
}
@keyframes disappearrandom {
  0%   { opacity:1; transform: translate( 0px, 0px) rotateY(0deg)}
  100%   {opacity:1; transform: translate( 0px , 0) rotateY(90deg) }
}
