$sm-img-w: 115px;
$sm-img-h: 70px;
$sm-img-margin: 7px;


// RWD -> l
$d-rwd-coef-l: 0.65;
$sm-img-w-rwd-l: $sm-img-w * $d-rwd-coef-l;
$sm-img-h-rwd-l: $sm-img-h * $d-rwd-coef-l;
$sm-img-margin-rwd-l: $sm-img-margin * $d-rwd-coef-l;

// RWD -> s
$d-rwd-coef-s: 1.25;
$sm-img-w-rwd-s: $sm-img-w * $d-rwd-coef-s;
$sm-img-h-rwd-s: $sm-img-h * $d-rwd-coef-s;
$sm-img-margin-rwd-s: $sm-img-margin * $d-rwd-coef-s;

// RWD -> xs
$d-rwd-coef-xs: 0.57;
$sm-img-w-rwd-xs: $sm-img-w * $d-rwd-coef-xs;
$sm-img-h-rwd-xs: $sm-img-h * $d-rwd-coef-xs;
$sm-img-margin-rwd-xs: $sm-img-margin * $d-rwd-coef-xs;


#projectDetail {
  position: relative;
  @include respond-width($w-s){
    // position: absolute;
    // margin: 0 auto;
    // top: calc(50% - 70px ) ;
    // transform: translate(0,-50%);
  }
  .rwd-s-show{
    display: none;
    @include respond-width($w-s){
      display: block;
    }
  }
  .small-gal-switch{
    width: 35px;
    height: 35px;
    margin: 0 0 0 auto;
    text-align: center;
    #cross{
      position: relative;
      bottom: 10px;
      width: 30px;
      @include respond-width($w-xs){
        width: 25px;
      }
    }
  }
  .col2{
    @include respond-width($w-s){
      width: 100%;
      display: block;
    }
  }

  .gallery-img-loader-wrapper{
    position: relative;
  }

  .view-gallery-image{
    position: relative;
  }

  .project-info-wrapper{
    padding-left: 50px;
    max-width: 400px;
    vertical-align: top;
    opacity: 1;
    transition: ease all 0.3s;

    @include respond-width($w-s){
      max-width: inherit;
      padding-left: 0px;
      text-align: center;
    }

      &.hide{
        transition: ease all 0.3s;
        opacity: 0;
      }

    .proj-name{
      font-weight: 400;
      position: relative;
      display: inline-block;
      font-size: 25px;
      @include respond-width($w-l){
        font-size: 22px;
        margin: 0px 0px 10px;
      }
      @include respond-width($w-xs){
        font-size: 17px;
        margin: 15px 0px 10px;
      }

      .txt{
        position: relative;
        z-index: 2;
      }
      .blue-bg{
        content: '';
        position: absolute;
        width: 100%;
        height: 80%;
        top: 10px;
        background: $blue;
        left: 20px;
        z-index: 0;
      }
    }
    .proj-desc{
      @include respond-width($w-l){
        margin-top: 0px;
        font-size: 15px;
      }
      @include respond-width($w-xs){
        font-size: 13px;
        max-width: 90%;
        margin: 10px auto;
      }
    }
    .small-gallery{
      transition: ease all  0.4s;
      right: 0px;
      left: 0px;
      margin: 0 auto;
      top: inherit;
      @include respond-width($w-s){
        margin-top: 25px;
      }
      &.animate-if.ng-enter, &.animate-if.ng-leave {
        position: absolute;
        transition: ease all  0.4s;
      }
      &.animate-if.ng-enter,
      &.animate-if.ng-leave.ng-leave-active {
        opacity:0;
        transform: translate(0px, 25px);
      }
      &.animate-if.ng-leave,
      &.animate-if.ng-enter.ng-enter-active {
        opacity:1;
      }
    }
    .small-gal-wrapper{
      max-width:  ( 3 * $sm-img-w ) + ( 6 * $sm-img-margin );
      margin: 0 auto;
      min-height:  ( 3 * $sm-img-h ) + ( 6 * $sm-img-margin );

      @include respond-width($w-l){
        max-width:  ( 3 * $sm-img-w-rwd-l ) + ( 6 * $sm-img-margin-rwd-l );
        min-height:  ( 3 * $sm-img-h-rwd-l ) + ( 6 * $sm-img-margin-rwd-l );
      }
      @include respond-width($w-s){
        max-width:  ( 3 * $sm-img-w-rwd-s ) + ( 6 * $sm-img-margin-rwd-s );
        min-height:  ( 3 * $sm-img-h-rwd-s ) + ( 6 * $sm-img-margin-rwd-s );
      }
      @include respond-width($w-xs){
        max-width:  ( 3 * $sm-img-w-rwd-xs ) + ( 6 * $sm-img-margin-rwd-xs );
        min-height:  ( 3 * $sm-img-h-rwd-xs ) + ( 6 * $sm-img-margin-rwd-xs );
      }
      .sm-img{
        max-height: $sm-img-h;
        max-width: $sm-img-w;
        cursor: pointer;
        display: inline-block;
        position: relative;
        margin: $sm-img-margin;
        @include respond-width($w-l){
          max-height: $sm-img-h-rwd-l;
          max-width: $sm-img-w-rwd-l;
          margin: $sm-img-margin-rwd-l;
        }
        @include respond-width($w-s){
          max-height: $sm-img-h-rwd-s;
          max-width: $sm-img-w-rwd-s;
          margin: $sm-img-margin-rwd-s;
        }
        @include respond-width($w-xs){
          max-height: $sm-img-h-rwd-xs;
          max-width: $sm-img-w-rwd-xs;
          margin: $sm-img-margin-rwd-xs;
        }
        transition: ease all 0.3s;
        &:nth-child(n + 4) {
          left: $sm-img-w / 2;
          @include respond-width($w-l){
            left: $sm-img-w-rwd-l / 2;
          }
          @include respond-width($w-s){
            left: $sm-img-w-rwd-s / 4;
          }
          @include respond-width($w-xs){
            left: $sm-img-w-rwd-xs / 6;
          }
        }
        &:nth-child(n + 7) {
          left: 0px;
        }

        &.ng-enter,
        &.ng-leave {

        }
        &.ng-enter {
          opacity: 0;
          .img-wrapper{
            transition: ease all 0.4s;
            transform: translate(25px,0);
          }
        }
        &.ng-leave.ng-leave-active {
          transition: ease all 0s;
          opacity: 0;
          position: absolute;
          .img-wrapper{
            opacity: 0;
            transition: ease all 0s;
          }
        }

        .img-wrapper{
          transition: ease all 0.3s;
          margin: 0px;
          max-height: $sm-img-h;
          max-width: $sm-img-w;
          @include respond-width($w-l){
            max-height: $sm-img-h-rwd-l;
            max-width: $sm-img-w-rwd-l;
          }
          @include respond-width($w-s){
            max-height: $sm-img-h-rwd-s;
            max-width: $sm-img-w-rwd-s;
          }
          @include respond-width($w-xs){
            max-height: $sm-img-h-rwd-xs;
            max-width: $sm-img-w-rwd-xs;
          }
          overflow: hidden;
          &:after,
          &:before{
            position: absolute;
            content: '';
            background: $blue;
            width: 0%;
            height: 100%;
            top: -5px;
            left: inherit;
            right: -5px;
            transition: ease all 0.3s;
            z-index: 0;
            @include respond-width($w-xs){
              top: -3px;
            }
          }
          &:after{
            display: none;
            z-index: 2;
            top: 0px;
            right: 0px;
            background: $blue-trans;
          }
        }
        &.active,
        &:hover{
          img{
            // filter: grayscale(0%);
          }
          .img-wrapper:after,
          .img-wrapper:before{
            left: 5px;
            right: inherit;
            width: 100%;
            transition: ease all 0.3s;
            @include respond-width($w-xs){
              left: 3px;
            }
          }
          .img-wrapper:after{
            left: 0px;
          }

        }
      }
      img{
        filter: grayscale(100%);
        z-index: 1;
        position: relative;
        max-width: 100%;
      }
    }


  }
  .next-gal-btn-wrapper{
    position: relative;
    margin-top: 0px;
    @include respond-width($w-s){
      text-align: left;
      max-width: 80%;
      margin: 0 auto;
    }
    .next-gal-btn,
    .prev-gal-btn{
      padding: 10px;
      cursor: pointer;
      font-weight: 400;
      display: inline-block;
      position: relative;
      left: 15px;
      transition: ease all 0.4s;
      @include respond-width($w-l){
        font-size: 16px;
      }

      &.animate-if.ng-enter, &.animate-if.ng-leave {
        transition: ease all  0.4s;
      }
      &.animate-if.ng-enter,
      &.animate-if.ng-leave.ng-leave-active {
        opacity:0;
        transform: translate(-25px,0px);
      }
      &.animate-if.ng-leave,
      &.animate-if.ng-enter.ng-enter-active {
        opacity:1;
      }

      .wrapper{
        display: inline-block;
        position: relative;
        span{
          position: relative;
          z-index: 1;
          right: 15px;
          display: block;
          @include respond-width($w-s){
            display: none;
          }
        }
        svg{
          max-width: 35px;
          position: relative;
          transition: ease all 0.3s;
          display: none;
          @include respond-width($w-s){
            max-width: 40px;
            display: block;
          }
          @include respond-width($w-xs){
            max-width: 30px;
          }

          &#arrowLeft{
            right: 0px;
          }
          &#arrowRight{
            left: 0px;
          }
        }
        &:hover{
          &:before{
            left: 0px;
            right: inherit;
            width: 100%;
            transition: ease all 0.3s;
          }
          svg{
            transition: ease all 0.3s;
            &#arrowLeft{
              right: 5px;
            }
            &#arrowRight{
              left: 5px;
            }
          }
        }
        &:before{
          transition: ease all 0.3s;
          content: '';
          position: absolute;
          width: 0%;
          height: 20px;
          top: 10px;
          bottom: inherit;
          background: $blue;
          left: inherit;
          right: 0px;
          z-index: 0;
          @include respond-width($w-s){
            bottom: 10px;
            top: inherit;
            height: 15px;
          }
        }
      }
    }
    .next-gal-btn{
      position: absolute;
      right: -35px;
      left: inherit;
      top: 0px;
      @include respond-width($w-s){
        right: 0px;
      }
      &.animate-if.ng-enter,
      &.animate-if.ng-leave.ng-leave-active {
        opacity:0;
        transform: translate(25px,0px);
      }
    }
    .prev-gal-btn{
      .wrapper{
        &:before{
          right: inherit;
          left: 0px;
        }
        &:hover{
          &:before{
            right: 0px;
            left: inherit;
            width: 100%;
            transition: ease all 0.3s;
          }
        }
      }
    }

  }


  .project-gal-wrapper{
    transition: ease all  0.3s;
    @include respond-width($w-s){
      display: none;
    }

    &.rwd-s-show{
      display: none;
      @include respond-width($w-s){
        display: block;
        width: 88%;
        height: 100%;
        background: $grey-l;
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        margin: 0 auto;
        // top: 0px;
      }
      svg{
        &#arrowRight, &#arrowLeft{
          width: 35px ;
        }
      }
    }

    &.animate-if.ng-enter, &.animate-if.ng-leave {
      transition: ease all  0.4s;
    }
    &.animate-if.ng-enter,
    &.animate-if.ng-leave.ng-leave-active {
      opacity:0;
      transform: translate(0px, 5px);
    }
    &.animate-if.ng-leave,
    &.animate-if.ng-enter.ng-enter-active {
      opacity:1;
    }

    &.loading{
      &:after{
        transition-delay: 0.3s;
        transition: ease all 0.5s;
        bottom: 0px;
        top: inherit;
        height: 100%;
      }
    }
    &:after{
      content: '';
      width: 100%;
      height: 0%;
      z-index: 10;
      background: black;
      position: absolute;
      top: 0;
      bottom: inherit;
      right: 0px;
      left: 0px;
      margin: 0 auto;
      transition: ease all 0.5s;
      transition-delay: 0.3s;
    }
  }
  .gallery-image{
    position: relative;
    text-align: center;
    height: 70vh;
    transition: ease all 0.3s;
    opacity: 1;
    transform: translate(0px,0px);

    @include respond-width($w-s){
      height: 65vh;
    }
    @include respond-width($w-xs){
      height: 58vh;
    }
    &.loading{
        opacity: 0;
    }
    &.out{
        animation: imgAniOut forwards 0.35s;
    }
    &.in{
        animation: imgAniIn forwards 0.35s;
    }
    img{
      max-height: 100%;
      max-width: 100%;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 0px;
      left: 0px;
      margin: 0 auto;
      transition: ease all 0.3s;
      opacity: 1;
      .loading{
        transition: ease all 0.3s;
        opacity: 0;
      }
    }

  }

  .arrows-wrapper{
    display: block;
    position: relative;
    width: 100%;
    margin: 35px 0 0 0;
    @include respond-width($w-l){
      margin: 15px 0 0 0;
    }
    @include respond-width($w-xs){
      margin: 5px 0 0 0;
    }

    .arrow-next,
    .arrow-prev{
      position: relative;
      font-size: 50px;
      font-weight: 800;
      width: 55px;
      top: 0px;
      cursor: pointer;
      margin: 0px;
      padding: 0px 10px;
      text-align: center;
      @include respond-width($w-xs){
        padding: 0px;
      }
      svg{
        transition: ease all 0.3s;
        position: relative;
        z-index: 2;

        @include respond-width($w-l){
          width: 35px;
        }
        @include respond-width($w-s){
          width: 45px;
        }
        @include respond-width($w-xs){
          width: 35px;
        }
        &#arrowLeft{
          right: 15px;
        }
        &#arrowRight{
          left: 15px;
        }
      }
      &:before{
        content: '';
        width: 55px;
        height: 7px;
        background: $grey-d;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        right: 0px;
        left: 0px;
        margin: 0 auto;
        @include respond-width($w-xs){
          height: 4px;
          width: 40px;
        }
      }
      &:before{
        transition: ease all 0.3s;
        width: 0px;
        height: 25px;
        background: $blue;
        top: calc(50% );
        margin: 0;
      }
      &:hover{
        &:before{
          transition: ease all 0.3s;
          width: 40px;
        }
        svg{
          transition: ease all 0.3s;
          &#arrowLeft{
            right: 20px;
          }
          &#arrowRight{
            left: 20px;
          }
        }
      }

    }
    .arrow-prev{
      &:before{
        right: inherit;
        left: 0px;
      }
      &:hover{
        &:before{
          left: inherit;
          right: 35px;
        }
      }
    }
    .arrow-next{
      position: absolute;
      right: 0px;

      &:before{
        right: 0px;
        left: inherit;
      }
      &:hover{
        &:before{
          right: inherit;
          left: 35px;
        }
      }
    }
  }

}


@keyframes imgAniIn {
  0%   { transform: translate( 50px, 0px); }
  100%   {transform: translate(0px,0px); }
}
@keyframes imgAniOut {
  0%   { transform: translate( 0px, 0px); }
  100%   {transform: translate( -50px,0px); }
}
