
$blue: #92d1d8;
$grey-d: #191919;
// $grey-l: #FFFFFF;
$grey-l: rgb(240,240,240);
$grey-trans: rgba(150,150,150,0.7);
$blue-trans: rgba(57,80,85,0.7);

@font-face {
    font-family: "futura";
    src: url('../fonts/futura-font.ttf');
}
@font-face {
    font-family: "futura-light";
    src: url('../fonts/futura_light_bt.ttf');
}
@font-face {
    font-family: "futura-medium";
    src: url('../fonts/futura-medium-bt.ttf');
}

$side-menu-width: 50px;
$view-main-width: calc( 100% - ( $side-menu-width * 2 ));

@mixin respond-width($media) {
     @media (max-width: $media + 1px){
        @content;
    }
}

$w-xl: 1650px; // resolution just under 1920
$w-l: 1450px; // resolution above 1366
$w-m: 1280px; // ipad big resolution
$w-s: 768px; // ipad small resolution
$w-xs: 550px; // mobile resolution

$mob-tab-con: 40px;

@import "_normalize";
@import "_projects";
@import "_project_detail";
@import "_menu";
@import "_hello";
@import "_loader_main";
@import "_contact";
@import "_about";

body{
  font-family: 'futura' , sans-serif;
  width: 100%;
  font-size: 16px;
  color: $grey-d;
  background: $grey-l;
}

#arrowRight , #arrowLeft, #cross{ // svg arrows and cross default setting
  stroke: $grey-d ;
  stroke-width: 3 ;
  @include respond-width($w-s){
    stroke-width: 2;
  }
}

::-webkit-scrollbar {
    display: none;
}

.col2{
  position: relative;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.blue-txt{
  color: $blue;
}

#fixedMain{
  background: $grey-l;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;

}// fixedMain

$anitime: 0s;

#viewMain{
  display: block;
  vertical-align: top;
  width: 80%;
  height: 80vh;
  position: relative;
  margin: 0 auto;
  right: 0px;
  left: 0px;
  top: 10%;
  opacity: 1;
  transition: ease all $anitime;
  @include respond-width($w-s){
    // width: 75%;
    top: 7%;
    height: 85vh;
  }

  &.view-animate.ng-enter,
  &.view-animate.ng-leave {
    transition: ease all $anitime;
  }

  &.view-animate.ng-enter {
    opacity: 0;
  }

  &.view-animate.ng-leave.ng-leave-active {
    position: absolute;
  }

}//viewMain
