<div id="" class="hello" hello-move-in  >
  <div class="hello-txt-wrapper">
    <div class="hello-txt top" >
      <span>
        <span class="top-15p" >H</span><span class="top-35" data-top="15px">e</span><span class="top-15p">l</span><span class="blue-txt"  timeinterval="1500" movemax="35" rndtimemax="8000"  random-move >l</span><span class="top-15p">o</span><span class="top-35" >.</span>
      </span>
    </div>
    <div class="hello-txt bottom" >
      <span>
        <span class="top-15p" >H</span><span class="top-35" data-top="15px">e</span><span class="top-15p">l</span><span class="blue-txt"  timeinterval="1500" movemax="35" rndtimemax="8000"  random-move >l</span><span class="top-15p">o</span><span class="top-35" >.</span>
      </span>
    </div>
    <div class="about-txt-wrapper">
      <span id="HelloAboutTxt" string-write >My name is Jagoda Kondratiuk and I&nbspam a photographer</span>
    </div>
  </div>
</div>
