
<div class="" id="projectDetail">

  <div class="col2">

    <div class="project-gal-wrapper"  >

      <div class="gallery-img-loader-wrapper">
        <div ui-view="galleryImage"  class="view-animate view-gallery-image" id="" ></div>
      </div>

      <div class="arrows-wrapper">
        <div class="arrow-next" ng-click="vm.galleryImgNextPrev(1)" >
          <svg   width="50"   height="50"   viewBox="0 0 50.000001 50.000001"   id="arrowRight"   version="1.1"   inkscape:version="0.91 r13725"   sodipodi:docname="arrow.svg">
            <g     inkscape:label="Layer 1"     inkscape:groupmode="layer"     id="layer1"     transform="translate(0,-1002.3622)">
              <path       style="fill:none;fill-rule:evenodd;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 17.463017,1009.2449 17.901786,17.9911 -17.767857,18.0804"
                 id="path4147"
                 inkscape:connector-curvature="0" />
            </g>
          </svg>
        </div>
        <div class="arrow-prev" ng-click="vm.galleryImgNextPrev(-1)"  >
          <svg   width="50" height="50" viewBox="0 0 50.000001 50.000001" id="arrowLeft" version="1.1" inkscape:version="0.91 r13725" sodipodi:docname="arrow-l.svg">
            <g inkscape:label="Layer 1" inkscape:groupmode="layer"  id="layer1" transform="translate(0,-1002.3622)">
              <path style="fill:none;fill-rule:evenodd;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 35.36476,1045.3164 -17.9017,-17.9911 17.7678,-18.0804"
                 id="path4147"
                 inkscape:connector-curvature="0" />
            </g>
          </svg>

        </div>
      </div>

    </div>
  </div>

  <div class="col2">
    <div class="project-info-wrapper" ng-class="{'hide': vm.smallGalleryHide } ">
      <h1 class="proj-name" >
        <span class="blue-bg"  ></span>
        <span class="txt"> {{vm.projectData.name}} </span>
      </h1>
      <p class="proj-desc">
        {{vm.projectData.description}}
      </p>


      <div class=" small-gallery animate-if"  >
        <div class="small-gal-wrapper" >
          <div ng-class="{'active': i + vm.galleryShow.start == vm.galleryPictureCurrent}" class="sm-img animate-repeat" ng-repeat="(i, pic) in vm.projectData.gallery.slice(vm.galleryShow.start , vm.galleryShow.end) "  ng-click="vm.galleryImgChangeTo(i)"  >
            <div class="img-wrapper">
              <img ng-src="assets/img/gallery/{{vm.projectData.href}}/{{pic[1]}}" alt="">
            </div>
          </div>
        </div>

        <div class="next-gal-btn-wrapper">
          <div class="prev-gal-btn animate-if" id="" ng-if="vm.prevBtn" ng-click="vm.galleryShowChange('prev')">
            <div class="wrapper">
              <span>previous</span>
              <svg   width="50" height="50" viewBox="0 0 50.000001 50.000001" id="arrowLeft" version="1.1" inkscape:version="0.91 r13725" sodipodi:docname="arrow-l.svg">
                <g inkscape:label="Layer 1" inkscape:groupmode="layer"  id="layer1" transform="translate(0,-1002.3622)">
                  <path style="fill:none;fill-rule:evenodd;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                     d="m 35.36476,1045.3164 -17.9017,-17.9911 17.7678,-18.0804"
                     id="path4147"
                     inkscape:connector-curvature="0" />
                </g>
              </svg>

            </div>
          </div>
          <div class="next-gal-btn animate-if" id="" ng-if="vm.nextBtn" ng-click="vm.galleryShowChange('next')">
            <div class="wrapper">
              <span>next</span>
              <svg   width="50"   height="50"   viewBox="0 0 50.000001 50.000001"   id="arrowRight"   version="1.1"   inkscape:version="0.91 r13725"   sodipodi:docname="arrow.svg">
                <g     inkscape:label="Layer 1"     inkscape:groupmode="layer"     id="layer1"     transform="translate(0,-1002.3622)">
                  <path       style="fill:none;fill-rule:evenodd;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                     d="m 17.463017,1009.2449 17.901786,17.9911 -17.767857,18.0804"
                     id="path4147"
                     inkscape:connector-curvature="0" />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="project-gal-wrapper rwd-s-show animate-if" swipe-gal-img  ng-if="vm.smallGalleryHide" >

      <div class="small-gal-switch rwd-s-show" ng-click="vm.smallGalleryHide = !vm.smallGalleryHide" >
        <svg   width="50"   height="50"   viewBox="0 0 50.000001 50.000001"   id="cross"   version="1.1"   inkscape:version="0.91 r13725"   sodipodi:docname="cross.svg">
          <g     inkscape:label="Layer 1"     inkscape:groupmode="layer"     id="layer1"     transform="translate(0,-1002.3622)">
            <path       style="fill:none;fill-rule:evenodd;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 7.3818176,1008.7697 17.9017854,17.9911 -17.7678564,18.0804"
               id="path4147"
               inkscape:connector-curvature="0" />
            <path       style="fill:none;fill-rule:evenodd;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 43.289765,1044.7579 -17.9017,-17.9911 17.7678,-18.0804"
               id="path4147-3"
               inkscape:connector-curvature="0" />
          </g>
        </svg>
      </div>

      <div class="gallery-img-loader-wrapper">
        <div ui-view="galleryImage"  class="view-animate view-gallery-image " id="" ></div>
      </div>

      <div class="arrows-wrapper">
        <div class="arrow-next" ng-click="vm.galleryImgNextPrev(1)" >
          <svg   width="50"   height="50"   viewBox="0 0 50.000001 50.000001"   id="arrowRight"   version="1.1"   inkscape:version="0.91 r13725"   sodipodi:docname="arrow.svg">
            <g     inkscape:label="Layer 1"     inkscape:groupmode="layer"     id="layer1"     transform="translate(0,-1002.3622)">
              <path       style="fill:none;fill-rule:evenodd;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 17.463017,1009.2449 17.901786,17.9911 -17.767857,18.0804"
                 id="path4147"
                 inkscape:connector-curvature="0" />
            </g>
          </svg>
        </div>
        <div class="arrow-prev" ng-click="vm.galleryImgNextPrev(-1)"  >
          <svg   width="50" height="50" viewBox="0 0 50.000001 50.000001" id="arrowLeft" version="1.1" inkscape:version="0.91 r13725" sodipodi:docname="arrow-l.svg">
            <g inkscape:label="Layer 1" inkscape:groupmode="layer"  id="layer1" transform="translate(0,-1002.3622)">
              <path style="fill:none;fill-rule:evenodd;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 35.36476,1045.3164 -17.9017,-17.9911 17.7678,-18.0804"
                 id="path4147"
                 inkscape:connector-curvature="0" />
            </g>
          </svg>
        </div>
      </div>

    </div>

  </div>

</div>
